<footer class="py-6 flex items-center justify-center gap-6 bg-red-100">
  <!-- Logo -->
  <div class="flex items-center pr-4 border-r-2 border-red-600">
    <img class="w-[80px] h-[80px]" src="/images/ebc-logo.png" alt="Ebc logo" />
    <div class="flex flex-col items-center">
      <p class="text-2xl text-red-600 font-semibold">የኢትዮጵያ ብሮድካስቲንግ ኮርፖሬሽን</p>
      <p class="text-xl text-grey-900">Property Management System</p>
    </div>
  </div>
  <div class="flex items-center">
    <p>All rights reserved</p>
  </div>
</footer>
