<nav class="h-[100px] shadow-lg px-6 py-2 flex justify-between items-center">
  <!-- Logo -->
  <div class="flex items-center">
    <img class="w-[80px] h-[80px]" src="/images/ebc-logo.png" alt="Ebc logo" />
    <div class="flex flex-col items-center">
      <p class="text-2xl text-red-600">የኢትዮጵያ ብሮድካስቲንግ ኮርፖሬሽን</p>
      <p class="text-xl text-grey-900">ለኢትዮጵያ ልዕልና</p>
    </div>
  </div>
  <ul>
    <li>
      <a href="/">Welcome, Username</a>
    </li>
  </ul>
</nav>
