<div class="px-4 flex flex-col items-center justify-center">
  <h1 class="my-6 text-2xl text-red-700 font-bold">New Blog Post</h1>
  <form class="mb-4 p-8 w-[500px] bg-slate-200" action="/store" method="POST">
    <%- include('./partials/_store_form_fields.ejs') %>
    <div class="flex gap-3">
      <button class="my-4 px-6 py-2 bg-red-800 text-white rounded" type="submit">
      Add New Item To store
    </button>
    <a class="my-4 px-6 py-2 bg-red-800 text-white rounded" href="/store"
      >Cancel</a
    ></div>
  </div>
  </form>
