<!-- container -->
<div class="px-6 pt-4">
  <!-- Top Section -->
  <section class="flex">
    <!-- Tables -->
    <div class="flex-1 py-10">
      <h1 class="text-start py-2 text-red-500 font-bold text-4xl">Store</h1>
      <!-- Store table -->
      <%- include('./partials/store-table.ejs') %>
      <br />
      <h1 class="text-start py-2 text-red-500 font-bold text-4xl">Users</h1>
      <!-- Users table -->
      <%- include('./partials/users-table.ejs') %>
      <br />
      <h1 class="text-start py-2 text-red-500 font-bold text-4xl">Items</h1>
      <!-- Users table -->
      <%- include('./partials/items-table.ejs') %>
      <br />
    </div>
    <div class="flex-1">
      <!-- Calendar -->
      <%- include('./partials/calendar.ejs') %>
    </div>
  </section>
</div>
