<h1 class="text-center pt-5 text-blue-500">
  Home Page is set up and rendrered!
</h1>
<!-- Store table -->
<%- include('./partials/store-table.ejs') %>
<!-- Calendar -->
<%- include('./partials/calendar.ejs') %>
